{{ define "index" }}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/css/global.css" />
		<title>Expense</title>
	</head>
	<body>
		<div class="main-container">
			<!-- form container -->
			<div class="container form-container">
				<h2 class="form-heading">Add expense</h2>

				<form id="form">
					<!-- (0) Date -->
					<div class="form-element">
						<label class="form-label" for="date">Date</label>
						<input
							class="form-input"
							type="date"
							name="date"
							id="date"
							required
						/>
					</div>

					<!-- (1) Description -->
					<div class="form-element">
						<label class="form-label" for="desc">Description</label>
						<input
							class="form-input"
							type="text"
							name="desc"
							id="desc"
							minlength="1"
							placeholder="Add your description"
							required
						/>
					</div>

					<!-- (2) Amount -->
					<div class="form-element">
						<label class="form-label" for="amount"
							>Amount ({{ .currency }})</label
						>
						<input
							class="form-input"
							type="number"
							name="amount"
							id="amount"
							placeholder="Enter the amount"
							required
						/>
					</div>

					<!-- (3) Paid to -->
					<div class="form-element">
						<label class="form-label" for="paid_to">Paid to</label>
						<input
							class="form-input"
							type="text"
							name="paid_to"
							id="paid_to"
							minlength="1"
							maxlength="15"
							placeholder="Paid to"
							required
						/>
					</div>

					<!-- (4) Mode -->
					<div class="form-element">
						<label class="form-label" for="mode">Mode</label>
						<select class="form-input" name="mode" id="mode" required>
							<option class="form-input-option" value="PhonePe">PhonePe</option>
							<option class="form-input-option" value="Google Pay">
								Google Pay
							</option>
							<option class="form-input-option" value="Cash">Cash</option>
						</select>
					</div>

					<!-- (5) Transaction type -->
					<div class="form-element">
						<label class="form-label">Type of transaction</label>
						<div class="form-input form-input-radio-group">
							<div class="form-input-radio">
								<input
									type="radio"
									value="Income"
									name="type"
									id="income"
									required
								/>
								<label for="income">Income</label>
							</div>

							<div class="form-input-radio">
								<input
									type="radio"
									value="Expense"
									name="type"
									id="expense"
									required
								/>
								<label for="expense">Expense</label>
							</div>
						</div>
					</div>

					<div class="form-element error-div hidden">
						<p class="error-text"></p>
					</div>

					<!-- (6) Buttons -->
					<div class="form-element btns">
						<button class="btn btn-add" type="submit">Add transaction</button>
						<button class="btn btn-clear" type="reset">Clear all</button>
					</div>
				</form>
			</div>

			<!-- modal container -->
			<div class="modal modal-whole-page">
				<div class="modal-container">
					<span class="close-modal">&times;</span>
					<div class="modal-content">
						<div class="modal-t-field-container">
							<label class="modal-t-field">Date</label>
							<p class="modal-t-field-value">Fri, 13 May 2022</p>
						</div>
					</div>
				</div>
			</div>

			<!-- status container -->
			<div class="container status-container">
				<p class="status-text total-income">
					Total income:
					<span class="status-text-value total-income-value"
						>{{ .currency }} {{ .totalIncome }}</span
					>
				</p>
				<p class="status-text total-expense">
					Total expense:
					<span class="status-text-value total-expense-value"
						>{{ .currency }} {{ .totalExpense }}</span
					>
				</p>
				<p class="status-text current-balance">
					Current balance:
					<span class="status-text-value current-balance-value"
						>{{ .currency }} {{ .currentBalance }}</span
					>
				</p>

				{{ if .ifNoTransactions }}

				<div class="no-t">
					<p class="no-t-text">Come on don't be shy... add a transaction!</p>
				</div>

				{{ else }}

				<div class="table-container">
					<table class="t-table">
						<tr class="table-header-row">
							<th>Date</th>
							<th>Description</th>
							<th>Amount ({{ .currency }})</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>

						{{ range .transactions }}

						<tr class="t" id="{{ .ID }}">
							<td class="t-field t-date">{{ .Date }}</td>
							<td class="t-field t-desc">{{ .Desc }}</td>

							{{ if eq .Type "Income" }}
							<td class="t-field t-amount t-type-income">{{ .Amount }}</td>
							{{ else }}
							<td class="t-field t-amount t-type-expense">{{ .Amount }}</td>
							{{ end }}

							<td class="t-field view-t">
								<img
									class="modify-t-icon view-icon"
									src="/public/images/view.png"
									alt="view icon"
								/>
							</td>
							<td class="t-field edit-t">
								<img
									class="modify-t-icon edit-icon"
									src="/public/images/edit.png"
									alt="edit icon"
								/>
							</td>
							<td class="t-field delete-t">
								<img
									class="modify-t-icon delete-icon"
									src="/public/images/delete.png"
									alt="delete icon"
								/>
							</td>
						</tr>

						{{ end }}
					</table>
				</div>

				<!-- sort and stuff -->
				<div class="rearrange-btns">
					<button class="btn btn-sort">SORT</button>
				</div>

				{{ end }}
			</div>
		</div>

		<script src="/public/js/init.js"></script>
		<script src="/public/js/handlers.js"></script>
	</body>
</html>

{{ end }}
