* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #0d1116;
  --text-color: #c9d1d9;
  --bg-color-table: #040b10;

  --color-income: #39d353;
  --color-expense: #e16637;

  --color-error: #f26524;
  --color-error-text: #000;

  --black-a: rgba(0, 0, 0, 0.4);
  --black: #000;
  --white: #fff;
  --red: #ff0000;

  --modal-bg-color: #fefefe;
  --modal-border: #888;
  --modal-close: #aaa;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* t = transaction, globally over all class names */

/* --------- MAIN CONTAINER ----------- */

.main-container {
  height: 700px;
  padding: 3% 6% 4% 6%;
}

/* --------- MODAL CONTAINER ----------- */

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--black);
  background-color: var(--black-a);
}

/* to only contain the cross for closing the modal */
.modal-container {
  background-color: var(--modal-bg-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--modal-border);
  border-radius: 5px;
  width: 35%;
}

.close-modal-span {
  color: var(--modal-close);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-span:hover,
.close-modal-span:focus {
  color: var(--bg-color);
  text-decoration: none;
  cursor: pointer;
}

/* main container for changing and holding content inside the modal */
.modal-content {
  color: var(--bg-color);
}

/* dynamic */
.modal-title {
  margin: 0 2% 5% 0;
}

.modal-t-field-div {
  margin: 1% 5% 1% 5%;
}

.modal-t-field-label {
  color: var(--modal-border);
}

.modal-t-field-value {
  display: inline;
  float: right;
  color: var(--bg-color);
}
/* dynamic */

/* --------- MODAL CONTAINER ----------- */

/* --------- FORM CONTAINER ----------- */

.t-form-container {
  float: left;
  width: 30%;
  height: 600px;
  margin: 2%;
}

.t-form-heading {
  padding-bottom: 5%;
}

.t-form-item {
  display: block;
  margin: 3% 0 3% 0;
  height: 50px;
}

.t-form-item-label {
  font-size: 1.1rem;
  padding: 0 2% 0 2%;
}

/* to make "select" element the same width as other form elements */
input,
select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.t-form-input {
  float: right;
  width: 40%;
  height: 30px;
}

/* error on insert/update */

.error-div {
  background-color: var(--color-error);
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
}

.error-text {
  color: var(--color-error-text);
}

.t-btns-div {
  margin-top: 10%;
  text-align: center;
}

/* btns */

.btn {
  width: fit-content;
  height: 75%;
  border-width: 1px;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: translateY(2px);
}

/* --------- FORM CONTAINER ----------- */

/* --------- SUMMARY CONTAINER ----------- */

.summary-container {
  display: flex;
  float: left;
  width: 55%;
  height: 110px;
  margin: 2%;
}

.summary-container:first-child {
  margin-right: 10px;
}

.main-summary,
.budget-summary {
  flex: 1;
  float: left;
  width: 40%;
  height: 98px;
  border: 1px solid var(--color-income);
  border-radius: 10px;
  margin: 0 2% 0 2%;
}

.summary-item {
  display: block;
  font-size: 1.1rem;
  height: 33.33px;
  transform: scale(0.9);
}

.summary-item-label {
  margin-left: 10px;
  display: inline;
  float: left;
}

.summary-item-value {
  margin-right: 10px;
  display: inline;
  float: right;
}

.edit-budget-icon {
  margin: 5px 0 0 15px;
}

/* --------- SUMMARY CONTAINER ----------- */

/* no transaction display message */
.no-t-div {
  text-align: center;
  margin-top: 5%;
  width: 60%;
  float: right;
  border: 1px solid red;
}

/* --------- TABLE CONTAINER ----------- */

.table-container {
  max-height: 350px;
  /* to enable scrolling over the table */
  overflow-y: auto;

  width: 60%;
  float: left;
  display: block;
  margin: 0 0 0 2%;
}

.t-table {
  margin: 0 auto 0 auto;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--bg-color-table);
}

/* to make table headers sticky on scroll */
table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg-color-table);
}

.bg-th {
  background-color: var(--bg-color);
  width: 16px;
}

.no-bg-td {
  background: none;
}

/* --------- TABLE CONTAINER ----------- */

/* show range container */
.show-range-container {
  display: block;
  float: left;
  margin: 3% 0 0 4%;
  height: 30px;
  width: fit-content;
}

/* sub summary */
.sub-summary {
  display: block;
  float: left;
  margin: 0 0 0 4%;
  height: 30px;
}

.sub-summary-item,
.sub-summary-item-label,
.sub-summary-item-value {
  display: inline;
}

.sub-summary-item {
  margin: 10px;
}

/* --------- SORT FORM CONTAINER --------- */

.no-t-div + .sort-form-container {
  width: 15%;
  height: 150px;
  margin: 5% auto 0 auto;
}

.sort-form-container {
  display: inline-block;
  margin: 3% 0 0 5px;
  width: 15%;
  height: 150px;
  padding: 0 10px 0 20px;
}

.sort-form-item,
.custom-dates-container {
  height: 30px;
  width: 100%;
  margin-bottom: 3%;
}

.custom-dates-container {
  display: flex;
}

.sort-form-item {
  display: block;
}





/* selector for direct child */
.custom-dates-container > .sort-form-item {
  flex: 1;
  display: inline;
  height: 30px;
}

.custom-dates-container > .sort-form-item:first-child {
  margin-right: 20px;
}




.sort-form-item-label {
  margin: 4px;
}





.sort-form-input {
  height: 20px;
  width: 100px;
  margin: 4px;
  float: right;
  border: none;
}



/* selector for descendant */
.custom-dates-container .sort-form-input {
  width: 20px;
}









.btn-sort {
  display: block;
  height: fit-content;
  margin: 0 auto 0 auto;
}

/* --------- SORT FORM CONTAINER --------- */

/* --------- MAIN CONTAINER ----------- */

/* --------- PSEUDO CLASSES ----------- */

.t {
  cursor: pointer;
}

/* to display transaction type with color */
.t-type-income {
  color: var(--color-income);
}

.t-type-expense {
  color: var(--color-expense);
}

.hidden {
  display: none;
}

/* pseudo class for updated t */
.updated-t {
  background-color: var(--white);
  opacity: 0.8;
  color: var(--bg-color);
}

/* for deletion */
.strike {
  color: var(--red);
}

.strike-text {
  color: var(--text-color);
}

/* icons */
.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.icon:active {
  cursor: pointer;
  transform: translateY(2px);
}

/* --------- PSEUDO CLASSES ----------- */
