:root {
	--bg-color: #0f0e0e;
	--text-color: #c9d1d9;

	--color-income: #3ccf4e;
	--color-expense: #f77e21;

	--color-error: rgba(211, 38, 38, 0.75);
	--color-error-text: #000;

	--accent-color: hsl(212, 100%, 67%);
	--accent-color-60: hsla(212, 100%, 67%, 0.6);

	--article-bg: #141010;
	--article-border: #222222;

	--modal-close-btn: hsl(240, 1%, 17%);
	--white-2: hsl(0, 0%, 98%);
	--light-gray: hsl(0, 0%, 84%);
	--light-gray-70: hsla(0, 0%, 84%, 0.7);
	--smoky-black: hsl(0, 0%, 7%);
	--btn-bg-gradient: linear-gradient(
		to bottom right,
		hsl(0, 0%, 25%) 0%,
		hsla(0, 0%, 25%, 0) 50%
	);

	--ff-poppins: 'Poppins', sans-serif;

	--fs-1: 24px;
	--fs-2: 18px;
	--fs-3: 17px;
	--fs-4: 16px;
	--fs-5: 15px;
	--fs-6: 14px;
	--fs-7: 13px;
	--fs-8: 11px;

	--fw-300: 300;
	--fw-400: 400;

	--shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
	--shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);

	--transition-1: 0.25s ease;
}

/* RESET */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-family: var(--ff-poppins);
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

img,
a,
button,
time,
span {
	display: block;
}

button {
	font: inherit;
	background: none;
	border: none;
	text-align: left;
	cursor: pointer;
}

input,
textarea {
	display: block;
	width: 100%;
	/* background: none; */
	font: inherit;
}

::selection {
	background: var(--accent-color);
	color: var(--smoky-black);
}

:focus {
	outline-color: var(--accent-color);
}

html {
	font-family: var(--ff-poppins);
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

/* REUSED STYLE */

article {
	background: var(--article-bg);
	border: 1px solid var(--article-border);
	border-radius: 20px;
	padding: 15px;
	box-shadow: var(--shadow-1);
	z-index: 1;
	display: none;
}

article.active {
	display: block;
	animation: fade 0.5s ease backwards;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.h2,
h3 {
	color: var(--white-2);
	text-transform: capitalize;
}

.h2 {
	font-size: var(--fs-1);
	font-weight: var(--fw-400);
}

.h3 {
	font-size: var(--fs-2);
}

.article-title {
	position: relative;
	padding-bottom: 7px;
}

.article-title::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 3px;
	background: var(--accent-color);
	border-radius: 3px;
}

main {
	margin: 15px 12px;
	margin-bottom: 75px;
	min-width: 259px;
}

/* --------- MODAL CONTAINER ----------- */

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	overscroll-behavior: contain;
	z-index: 20;
	pointer-events: none;
	visibility: hidden;
}

.modal-container::-webkit-scrollbar {
	display: none;
}

.modal-container.active {
	pointer-events: all;
	visibility: visible;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: hsl(0, 0%, 5%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 1;
	transition: var(--transition-1);
}

.overlay.active {
	opacity: 0.8;
	visibility: visible;
	pointer-events: all;
}

.modal {
	background: var(--article-bg);
	position: relative;
	padding: 15px;
	margin: 15px 12px;
	border: 1px solid var(--article-border);
	border-radius: 14px;
	box-shadow: var(--shadow-5);
	transform: scale(1.2);
	opacity: 0;
	transition: var(--transition-1);
	z-index: 2;
	width: 60%;
}

.modal-container.active .modal {
	transform: scale(1);
	opacity: 1;
}

.modal-close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	background: var(--modal-close-btn);
	border-radius: 8px;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white-2);
	font-size: 18px;
	opacity: 0.7;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
	opacity: 1;
}

.modal-title {
	margin-bottom: 4px;
}

.modal-content time {
	font-size: var(--fs-6);
	color: var(--light-gray-70);
	font-weight: var(--fw-300);
	margin-bottom: 10px;
}

.modal-content p {
	color: var(--light-gray);
	font-size: var(--fs-6);
	font-weight: var(--fw-300);
	line-height: 1.6;
}

.modal-text-container {
	margin-top: 15px;
}

.modal-field {
	display: block;
	height: 25px;
}

.modal-field-label {
	float: left;
}

.modal-field-value {
	float: right;
}

/* --------- MODAL CONTAINER ----------- */

/* --------- NAVBAR --------- */

.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--article-bg);
	backdrop-filter: blur(10px);
	border: 1px solid var(--article-border);
	border-radius: 12px 12px 0 0;
	box-shadow: var(--shadow-2);
	z-index: 5;
}

.navbar-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.navbar-link {
	color: var(--light-gray);
	font-size: var(--fs-6);
	padding: 20px 7px;
	transition: color var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus {
	color: var(--light-gray-70);
}

.navbar-link.active {
	color: var(--accent-color);
}

/* --------- NAVBAR --------- */

/* t = transaction, globally over all class names */

/* --------- MAIN CONTAINER ----------- */

.main-container {
	padding: 1% 5% 1% 5%;
}

.article-content {
	height: 600px;
	margin: 2%;
	margin-top: 30px;
}

/* --------- ADD PAGE ----------- */

.add .article-title {
	margin-bottom: 15px;
}

.form-item {
	display: block;
	height: 80px;
}

.form-item-label {
	font-size: var(--fs-2);
	padding: 0 2% 0 2%;
}

/* to make "select" element the same width as other form elements */
input,
select {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form-input {
	float: right;
	width: 40%;
	height: 30px;
}

/* specific designs for radio input */

.form-item-radio {
	height: 60px;
}

.radio-option {
	height: 30px;
}

.radio-option input {
	display: inline-block;
	width: fit-content;
	height: 30px;
	vertical-align: middle;
}

.radio-option label {
	margin-left: 5px;
}

/* error on insert/update */

.error-div {
	background-color: var(--color-error);
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 40px;
}

.error-text {
	color: var(--color-error-text);
}

.error-report-page {
	margin-bottom: 15px;
}

.t-btns-div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 10px auto 0 auto;
	justify-content: center;
}

/* btns */

.btn {
	text-align: center;
	height: 50px;
	border-width: 1px;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	margin-left: 10px;
	width: 40%;
	color: var(--accent-color);
	background: var(--btn-bg-gradient);
	box-shadow: var(--shadow-2);
	transition: var(--transition-1);
}

.btn:hover {
	cursor: pointer;
}

.btn:active {
	transform: translateY(2px);
}

/* --------- ADD PAGE ----------- */

/* --------- REPORT PAGE --------- */

.report .article-title {
	margin-bottom: 15px;
}

/* --------- SORT FORM CONTAINER --------- */

.sort-form-container {
	display: inline-block;
	width: 100%;
	height: 80px;
	margin-bottom: 10px;
}

.no-t-div + .sort-form-container {
	width: 15%;
	height: 150px;
	margin: 5% auto 0 auto;
}

.sort-form-item,
.custom-dates-container {
	float: left;
	height: 40px;
	width: 50%;
	padding: 0 20px 0 20px;
}

.custom-dates-container {
	display: flex;
	width: 50%;
	padding: 0;
}

/* selector for direct child */
.custom-dates-container > .sort-form-item {
	flex: 1;
	display: inline;
	height: 30px;
}

.sort-form-item-label {
	margin: 4px;
}

.sort-form-input {
	height: 20px;
	width: 100px;
	margin: 4px;
	float: right;
	border: none;
}

/* selector for descendant */
.custom-dates-container .sort-form-input {
	width: 20px;
}

.btn-sort {
	display: block;
	height: fit-content;
	width: fit-content;
	margin: 0 auto 0 auto;
	font-size: var(--fs-6);
}

/* --------- SORT FORM CONTAINER --------- */

/* --------- SUMMARY CONTAINER ----------- */

.summary-container {
	display: flex;
	justify-content: center;
	float: left;
	width: 100%;
	height: 100px;
	padding-top: 2px;
	margin-bottom: 10px;
}

.main-summary,
.budget-summary {
	flex: 1;
	float: left;
	width: 45%;
	height: fit-content;
	border: 1px solid var(--accent-color-60);
	border-radius: 10px;
	margin: 0 5px 0 5px;
	overflow: auto;
}

.summary-item {
	display: block;
	font-size: var(--fs-6);
	height: 30px;
}

.summary-item:first-child {
	margin-top: 5px;
}

.summary-item-label {
	margin-left: 10px;
	display: inline;
	float: left;
}

.summary-item-value {
	margin-right: 10px;
	display: inline;
	float: right;
}

.edit-budget-icon {
	margin: 5px 0 0 15px;
}

/* --------- SUMMARY CONTAINER ----------- */

/* no transaction display message */
.no-t-div {
	text-align: center;
	width: 90%;
	margin: 30% auto 0 auto;
	height: fit-content;
}

.btn-goto-add {
	margin: 20px auto 0 auto;
	width: fit-content;
}

/* --------- TABLE CONTAINER ----------- */

.t {
	cursor: pointer;
}

.table-container {
	/* to enable scrolling over the table */
	overflow-y: auto;
	max-height: 250px;
	width: 100%;
	float: left;
	display: block;
	font-size: var(--fs-7);
	margin-bottom: 5%;
	box-shadow: var(--shadow-2);
}

.t-table {
	margin: 0 auto 0 auto;
	width: 100%;
}

th,
td {
	padding: 8px;
	text-align: center;
	border-radius: 4px;
	background-color: var(--article-bg);
	overflow: hidden;
}

th {
	font-weight: var(--fw-400);
}

/* to make table headers sticky on scroll */
table th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--article-bg);
}

.bg-th {
	background-color: var(--article-bg);
	width: 16px;
}

.no-bg-td {
	background: none;
}

/* delete confirmation modal */

.del-btn-container {
	margin: 0 auto 0 auto;
	text-align: center;
}

.btn-del-modal {
	display: inline;
}

/* --------- TABLE CONTAINER ----------- */

/* show range container */
.show-range-container {
	font-size: var(--fs-6);
	display: inline-block;
	margin: 0 auto 10px auto;
	text-align: center;
	width: 100%;
	height: 30px;
}

/* sub summary */
.sub-summary {
	font-size: var(--fs-5);
	display: block;
	margin: 0 auto 0 auto;
	text-align: center;
	width: fit-content;
	height: 46px;
	border: 1px solid var(--accent-color-60);
	border-radius: 10px;
	overflow: auto;
}

.sub-summary-item,
.sub-summary-item-label,
.sub-summary-item-value {
	display: inline;
}

.sub-summary-item {
	margin: 10px;
	display: inline-block;
}

/* --------- SETTINGS CONTAINER ----------- */

.settings .article-title {
	margin-bottom: 15px;
}

.btn-set {
	margin: 0 auto 0 auto;
}

input[type='checkbox'] {
	width: fit-content;
	display: inline;
}

.form-item-checkbox {
	height: 150px;
}

.form-input-checkbox {
	display: inline-block;
	margin-right: 15px;
	overflow: auto;
}

/* --------- SETTINGS CONTAINER ----------- */

/* --------- PSEUDO CLASSES ----------- */

/* to display transaction type with color */
.t-type-income {
	color: var(--color-income);
}

.t-type-expense {
	color: var(--color-expense);
}

.hidden {
	display: none;
}

/* icons */
.icon:hover {
	cursor: pointer;
	transform: scale(1.2);
}

.icon:active {
	cursor: pointer;
	transform: translateY(2px);
}

/* --------- PSEUDO CLASSES ----------- */
